<!DOCTYPE html>
<html
  lang="en"
  th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}"
>
  <head>
    <title>Sign Up</title>
  </head>
  <body>
    <div id="content">
      <div
        class="p-4 mt-3 border-t-4 border-blue-500 bg-white dark:bg-gray-800 shadow-lg rounded-lg max-w-lg mx-auto"
      >
        <form
          action="/do-signup"
          class="max-w-sm mx-auto"
          method="post"
          novalidate
          th:object="${userForm}"
        >
          <input
            th:name="${_csrf.parameterName}"
            th:value="${_csrf.token}"
            type="hidden"
          />

          <div data-th-replace="~{message::messageBox}"></div>

          <div class="mb-6">
            <h1 class="text-4xl font-bold">Signup Here</h1>
            <p class="text-base font-normal mt-2">
              Start managing contacts on cloud
            </p>
          </div>

          <div>
            <label
              class="block mb-2 text font-medium text-gray-900 dark:text-white"
              for="name"
              >Name</label
            >
            <input
              autocomplete="name"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              id="name"
              placeholder="Name"
              required
              th:field="*{name}"
              type="text"
            />
            <p
              class="text-red-600 py-2"
              data-th-errors="*{name}"
              data-th-if="${#fields.hasErrors('name')}"
            ></p>
          </div>

          <div>
            <label
              class="block mb-2 font-medium text-gray-900 dark:text-white"
              for="email"
              >Your email</label
            >
            <input
              autocomplete="email"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              id="email"
              placeholder="name@abc.com"
              required
              th:field="*{email}"
              type="email"
            />
            <p
              class="text-red-600 py-2"
              data-th-errors="*{email}"
              data-th-if="${#fields.hasErrors('email')}"
            ></p>
          </div>

          <div>
            <label
              class="block mb-2 font-medium text-gray-900 dark:text-white"
              for="password"
              >Your password</label
            >
            <input
              autocomplete="new-password"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              id="password"
              required
              th:field="*{password}"
              type="password"
            />
            <p
              class="text-red-600 py-2"
              data-th-errors="*{password}"
              data-th-if="${#fields.hasErrors('password')}"
            ></p>
          </div>

          <div>
            <label
              class="block mb-2 text font-medium text-gray-900 dark:text-white"
              for="phone-input"
              >Phone Number</label
            >
            <div class="relative">
              <div
                class="absolute inset-y-0 start-0 top-0 flex items-center ps-3.5 pointer-events-none"
              >
                <svg
                  aria-hidden="true"
                  class="w-4 h-4 text-gray-500 dark:text-gray-400"
                  fill="currentColor"
                  viewBox="0 0 19 18"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M18 13.446a3.02 3.02 0 0 0-.946-1.985l-1.4-1.4a3.054 3.054 0 0 0-4.218 0l-.7.7a.983.983 0 0 1-1.39 0l-2.1-2.1a.983.983 0 0 1 0-1.389l.7-.7a2.98 2.98 0 0 0 0-4.217l-1.4-1.4a2.824 2.824 0 0 0-4.218 0c-3.619 3.619-3 8.229 1.752 12.979C6.785 16.639 9.45 18 11.912 18a7.175 7.175 0 0 0 5.139-2.325A2.9 2.9 0 0 0 18 13.446Z"
                  />
                </svg>
              </div>
              <input
                aria-describedby="helper-text-explanation"
                aria-label="Phone number"
                autocomplete="tel"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                id="phone-input"
                placeholder="+91 123 456 7890"
                required
                th:field="*{phoneNumber}"
                type="tel"
              />
              <p
                class="text-red-600 py-2"
                data-th-errors="*{phoneNumber}"
                data-th-if="${#fields.hasErrors('phoneNumber')}"
              ></p>
            </div>
            <p
              class="mt-2 text-sm text-gray-500 dark:text-gray-400"
              id="helper-text-explanation"
            >
              Select a phone number that matches the format.
            </p>
          </div>

          <div>
            <label
              class="block mb-2 text font-medium text-gray-900 dark:text-white"
              for="about"
              >About</label
            >
            <textarea
              class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              id="about"
              placeholder="Write your thoughts here..."
              required
              rows="4"
              th:field="*{about}"
            ></textarea>
            <p
              class="text-red-600 py-2"
              data-th-errors="*{about}"
              data-th-if="${#fields.hasErrors('about')}"
            ></p>
          </div>

          <button
            class="text-white mt-4 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
            type="submit"
          >
            Submit
          </button>
          <button
            class="text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800 ml-2"
            type="reset"
          >
            Reset
          </button>
        </form>
      </div>
    </div>

    <script>
      console.log("Sign Up page");
    </script>
  </body>
</html>
